<div class="bodyColor">
	
<div class="backbutton" ><i class="ion-ios-people" style=" color:white;font-size: 250%;"></i></div>
<!-- header -->
<div class="header"><span class="name">People</span>
	 <div class="headerText">All your Starwars  </div>
</div>


<!-- search input box -->
<input type="text" class="search" ng-model="searchText">

<!-- search button -->

<div class="searchButton">Search</div>

<div class="line"></div>
<div class="lineside"></div>

<div class="mainSection">
	<div class="card" ng-repeat="person in people | filter:searchText" ng-click="displayPerson(person)">
		<table class="table">
			<tr>
				<td class="tdOne"><span class="WARname">{{person.name}}</span><br><span class="itemheading">{{person.species[0]}}</span></td>
				<td class="tdtwo" style="background: {{person.eye_color}}"> 
					<i class="ion-ios-eye-outline" style=" color:white;font-size: 500%;"></i>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="mapButton" ng-click="viewmap()">Comic store close to me<div>

</div>



</div>