<div class="bodyColor">
<!-- header -->
<div class="header">
	 <div class="headerText">People  </div>
</div>


<!-- search input box -->
<input type="text" class="search" ng-model="searchText">

<!-- search button -->
<div class="searchButton">Search</div>

<div class="line"></div>
<div class="lineside"></div>
<div class="mainSection">
	<div class="card" ng-repeat="person in people | filter:searchText" ng-click="displayPerson(person)">
		<table class="table">
			<tr><td class="tdOne"><span class="name">{{person.name}}</span><br>{{person.species[0]}}</td><td class="tdtwo"> <i class="ion-eye" style=" color:{{person.eye_color}};font-size: 500%;"></i></td></tr>
		</table>
	</div>

</div>
</div>