/* Empty. Add your own CSS if you like */

body{
	bgcolor:red;
}
.header{
	height: 100px;
	width: 100%;
	background: #689F38;
}
.headerText{
	color:white;
	font-size: 20px;
/* 	font-weight: 300; */
	position: absolute;
	top:50px;
	left:50px;
}
.search{
	background: ;
	width: 70%; 
	display: inline-block;
	margin-left: 12px;
	
}
.line{
	background: #689F38;
	height: 2px;
	box-shadow: 0px 2px 5px  #3f3f3f;
		
}
.lineside{
	position: absolute;
	background: #689F38;
	width: 10px;
	height: 35px;
	top: 100px;
	left: 0px;
}
.searchButton{
	background: #689F38;
	width: 30%;
	position: absolute;
	right: 0px;
	top:100px;
	height: 34px;

/*
	font-size: 20px;
	font-weight: 500;
*/
	color: white;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	
	
}


.bodyColor{
	background: #ECEFF1;
}
.mainSection{
/* 	padding: 10px; */
	width: 100%;
	height: 100%;
	overflow: auto;
	padding-bottom: 200px;
}
.card{
	height: 70px;
	margin-bottom: -10px;
}
.table{
	width: 100%;
	height: 100%;
	border: 0px;
}
.tdOne{
	width: 80%;
	padding-left: 10px;
	padding-top: 20px;
	vertical-align:middle; 

}
.tdtwo{
	text-align:center; vertical-align:middle; 

}
.WARname{
	font-size: 20px;
}

.btn1{
	
	background: #AED581;
	height:50px;
	color: white;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	
	
	
	
	
}



.btn2{
	
	background: #33691E;
	height:50px;
	color: white;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	
	
	
	
	
}
.mapButton{
	height: 50px;
	width: 100%;
	background: #689F38;
	position: absolute;
	bottom: 0px;
	color: white;
/* 	font-size: 20px; */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	
}

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}
.bottons{
	width: 100%;
	position: absolute;
	bottom: 0px
}
.contents{
	padding: 10px;
	padding-top: 20px;
}
.itemcont{
	color: #BFD2BF;
	padding: 10px;
	border: 1px solid #BFD2BF;
	border-radius: 5px;
	margin-bottom: 10px;
}
.itemheading{
	color: #648381;
	padding: 0px;
	margin: 0px;
	font-size: 11px;
}
.name{
	font-size: 12px;
	position: absolute;
	top: 30px;
	left: 50px;
	color: #AED581;
}
.backbutton{
	width: 50px;
	height: 35px;
	position: absolute;
	top: 34px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	
	
}



